.page {
	margin: 0 12.5% 0;
}

#item {
	width: 33%;
	float: left;
	height: 225px;
	border: 1px solid #000;
	cursor: pointer;
	padding: 5px;
}

#item:hover {
	background-color: #f2f0ee;
}

#item_image {
	padding-top: 10px;
}

#item_text {
	margin-top: 20px;
	padding: 0 10px 10px;
}

#item_price {
	color: red;
}