#error_name {
	padding: 10px;
	background-color: red;
	display: none;
	width: 200px;
}

#error_description {
	padding: 10px;
	background-color: red;
	display: none;
	width: 200px;
}

#error_price_exist {
	padding: 10px;
	background-color: red;
	display: none;
	width: 200px;
}

#error_price_invalid {
	padding: 10px;
	background-color: red;
	display: none;
	width: 200px;
}

#error_price_invalid {
	padding: 10px;
	background-color: red;
	display: none;
	width: 200px;
}

#leftbar {
	width: 250px;
	float: left;
}

#mainbar {
	margin-left: 260px;
}

.navelement {
	border: 1px solid #000;
	margin: 2px;
	padding: 4px;
	font-size: 10px;
	font-weight: bold;
	display: block;
}

#viewshop {

}

#add_to_shop {

}

#bg {
    background: url(/static/images/other/sad_face.png)
}