#leftbar {
	width: 250px;
	float: left;
}

#mainbar {
	margin-left: 260px;
}

.navelement {
	border: 1px solid #000;
	margin: 2px;
	padding: 4px;
	font-size: 10px;
	font-weight: bold;
	display: block;
}

#viewshop {

}

#add_to_shop {

}

#bg {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;
}