{% extends 'outlay.html' %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="static/styles1.css" type="text/css">
	<link rel="stylesheet" href="static/cart_styles.css" type="text/css">
{% endblock %}
{% block number_of_items %}{{number_of_items}}{% endblock %}
{% block content %}
<div class="cart_items">
		{% for item in cart.items %}
        <div id="cart_item">
				<div id="cart_item_image" align="center">
					<img src="{{item.path_photo}}" height="100" />
				</div>
				<div id="cart_item_info">
					<div id="cart_item_name">
						{{item.name}}
					</div>
					<div id="cart_item_price">
					{{item.price}}
					</div>
					<div id="remove_item"><input type="button" id="remove_button" name="remove_button" value="Remove" onlclick="" /></div>
				</div>
			</div>
		{% endfor %}
        <div class="sum">Total price: {{total_price}}</div>
        <div class="buy"><input type="button" id="buy_button" name="buy_button" value="Buy" /></div>
		</div>
{% endblock %}