<html>
	<head>
		<link rel="stylesheet" href="catalog.css" type="text/css">
	</head>
	<body>
		<div class="page">
			<div id="line">
				<div id="item-right">
					<div id="item_image" align="center"><img src="mein-deal-com297.jpg" height="100"></div>
					<div id="item_text">
						<div id="item_name">HTC 8x c620E 16GB Unlocked GSM Smartphone - No Warranty - Black - GSM: 850/900/1800/1900 MHz; HSPA/WCDMA: 850/900/1900/2100 MHz</div>
						<div id="item_price"><b>$139.00</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" /></div>
					</div>
				</div>
				<div id="item-left">
					<div id="item_image" align="center"><img src="mein-deal-com297.jpg" height="100"></div>
					<div id="item_text">
						<div id="item_name">HTC 8x c620E 16GB Unlocked GSM Smartphone - No Warranty - Black - GSM: 850/900/1800/1900 MHz; HSPA/WCDMA: 850/900/1900/2100 MHz</div>
						<div id="item_price"><b>$139.00</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" /></div>
					</div>
				</div>
				<div id="item-center">
					<div id="item_image" align="center"><img src="mein-deal-com297.jpg" height="100"></div>
					<div id="item_text">
						<div id="item_name">HTC 8x c620E 16GB Unlocked GSM Smartphone - No Warranty - Black - GSM: 850/900/1800/1900 MHz; HSPA/WCDMA: 850/900/1900/2100 MHz</div>
						<div id="item_price"><b>$139.00</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" /></div>
					</div>
				</div>
			</div>
			<div id="line">
				<div id="item-right">
					<div id="item_image" align="center"><img src="mein-deal-com297.jpg" height="100"></div>
					<div id="item_text">
						<div id="item_name">HTC 8x c620E 16GB Unlocked GSM Smartphone - No Warranty - Black - GSM: 850/900/1800/1900 MHz; HSPA/WCDMA: 850/900/1900/2100 MHz</div>
						<div id="item_price"><b>$139.00</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" /></div>
					</div>
				</div>
				<div id="item-left">
					<div id="item_image" align="center"><img src="mein-deal-com297.jpg" height="100"></div>
					<div id="item_text">
						<div id="item_name">HTC 8x c620E 16GB Unlocked GSM Smartphone - No Warranty - Black - GSM: 850/900/1800/1900 MHz; HSPA/WCDMA: 850/900/1900/2100 MHz</div>
						<div id="item_price"><b>$139.00</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" /></div>
					</div>
				</div>
				<div id="item-center">
					<div id="item_image" align="center"><img src="mein-deal-com297.jpg" height="100"></div>
					<div id="item_text">
						<div id="item_name">HTC 8x c620E 16GB Unlocked GSM Smartphone - No Warranty - Black - GSM: 850/900/1800/1900 MHz; HSPA/WCDMA: 850/900/1900/2100 MHz</div>
						<div id="item_price"><b>$139.00</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" /></div>
					</div>
				</div>
			</div>
			<div id="line">
				<div id="item-right">
					<div id="item_image" align="center"><img src="mein-deal-com297.jpg" height="100"></div>
					<div id="item_text">
						<div id="item_name">HTC 8x c620E 16GB Unlocked GSM Smartphone - No Warranty - Black - GSM: 850/900/1800/1900 MHz; HSPA/WCDMA: 850/900/1900/2100 MHz</div>
						<div id="item_price"><b>$139.00</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" /></div>
					</div>
				</div>
				<div id="item-left">
					<div id="item_image" align="center"><img src="mein-deal-com297.jpg" height="100"></div>
					<div id="item_text">
						<div id="item_name">HTC 8x c620E 16GB Unlocked GSM Smartphone - No Warranty - Black - GSM: 850/900/1800/1900 MHz; HSPA/WCDMA: 850/900/1900/2100 MHz</div>
						<div id="item_price"><b>$139.00</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" /></div>
					</div>
				</div>
				<div id="item-center">
					<div id="item_image" align="center"><img src="mein-deal-com297.jpg" height="100"></div>
					<div id="item_text">
						<div id="item_name">HTC 8x c620E 16GB Unlocked GSM Smartphone - No Warranty - Black - GSM: 850/900/1800/1900 MHz; HSPA/WCDMA: 850/900/1900/2100 MHz</div>
						<div id="item_price"><b>$139.00</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" /></div>
					</div>
				</div>
			</div>
		</div>
	</head>
</html>

