{% extends 'outlay.html' %}
{% block head %}
	<link rel="stylesheet" href="/static/catalog.css" type="text/css">
    <link rel="stylesheet" href="/static/styles1.css" type="text/css">

{% endblock %}
{% block header %}{{super()}}{% endblock %}
{% block content %}
		<div class="page">
            <div id="line">
                {% for item in line_1 %}
				<div id="item">
					<div id="item_image" align="center"><img src="{{item.path_photo}}" height="100"></div>
					<div id="item_text">
						<div id="item_name"><a href="/product={{item.id}}">{{item.name}}</a></div>
						<div id="item_price"><b>{{item.price}}</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" onlick="add_to_cart({{item.id}})"/></div>
					</div>
				</div>
                {% endfor %}
			</div>
            <div id="line">
                {% for item in line_2 %}
				<div id="item">
					<div id="item_image" align="center"><img src="{{item.path_photo}}" height="100"></div>
					<div id="item_text">
						<div id="item_name"><a href="/product={{item.id}}">{{item.name}}</a></div>
						<div id="item_price"><b>{{item.price}}</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" onlick="add_to_cart({{item.id}})"/></div>
					</div>
				</div>
                {% endfor %}
			</div>
            <div id="line">
                {% for item in line_3 %}
				<div id="item">
					<div id="item_image" align="center"><img src="{{item.path_photo}}" height="100"></div>
					<div id="item_text">
						<div id="item_name"><a href="/product={{item.id}}">{{item.name}}</a></div>
						<div id="item_price"><b>{{item.price}}</b></div>
						<div id="item_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" onlick="add_to_cart({{item.id}})"/></div>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
{% endblock %}

