{% extends 'outlay.html' %}
{% block head %}
		<link rel="stylesheet" href="checkout.css" type="text/css">
        <link rel="stylesheet" href="styles1.css" type="text/css">

		<script type="text/javascript" src="jquery-2.1.1.js"></script>
        <script type="text/javascript" src="main.js"></script>

<script type="text/javascript">
function validate_form(){
valid = true;
    if ( document.checkout_form.buyer_name.value == "" )
    {
		$("#error:hidden").show();
        valid = false;
    }
    return valid;
}
</script>
{% endblock %}
{% block header %}{{super()}}{% endblock %}
{% block number_of_items %}{{number_of_items}}{% endblock %}
{% block content %}
		<form name="checkout_form" onsubmit="return validate_form();" method="post" action="document.location.href='/buy'">
			<div id="error">You haven't entered name!</div>
				Enter Your name	<input type="text" name="buyer_name" id="buyer_name" /><br>
				<input type="submit" name="buy_send" id="buy_send" value="Buy" />

		</form>
{% endblock %}