<!DOCTYPE html>
<html>
<head lang="en">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
    {% endblock %}
    {% block header %}
    <div class="wrapper">
			<div class="header">
				<div class="logo">
					<a href="/catalog=1"><img src="static/images/header/logo.png" height="120"></a>
				</div>
				<div class="logotype">
					NexShop!
				</div>
				<div class="buy_header" onclick="document.location.href = '/cart';" style="cursor:pointer;">
				<span class="buystyle">Your cart: </span><span class="number_of_items">{% block number_of_items %}0{% endblock %}</span>
				<img src="static/images/header/icon-basket.gif" />
			</div>
		</div>
	</div>
    {% endblock %}
<body>
    {% block content %}
    {% endblock %}
    {% block recommended %}
    {% endblock %}
    {% block bottom_nav %}
    {% endblock %}
</body>
</html>