{% extends 'outlay.html' %}
{% block title %}NextShop!{% endblock %}
{% block head %}
        <!-- Fuck this shit! -->
        {{super()}}
		<link rel="stylesheet" href="static/product_styles.css" type="text/css">
		<link rel="stylesheet" href="static/styles.css" type="text/css">
        <link rel="stylesheet" href="static/styles1.css" type="text/css">
        <script type="text/javascript" src="/static/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
{% endblock %}
{% block number_of_items %}{{number_of_items}}{% endblock %}
{% block content %}
        <div class="random">
		</div>
		<div class="about_item">
			<div class="left">
				<div class="item_image"><img src={{address}} width="250"></div>
			</div>
			<div class="right">
				<div class="name">{{name}}</div>
				<div class="price"><b>{{price}}</b></div>
				<div class="description">{{description}}</div>
			<div class="add_to_cart_button"><input type="button" name="add_to_cart_button" id="add_to_cart_button" value="Add to cart" onclick="add_to_cart({{id}});"/></div>
			</div>
		</div>
{% endblock %}
{% block recommended %}
		<div id="recommended">
            {% for item in list_bought %}
			<div id="recommended_item">
				<div id="recommended_item_image"><img src={{item.photo}} height="100"></div>
				<div id="recommended_item_text">
					<div id="recommended_name">{{item.name}}</div>
					<div id="recommended_price"><b>{{item.price}}</b></div>
					<div id="recommended_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" onclick="add_to_cart({{item.id}})"/></div>
				</div>
			</div>
            {% endfor %}
		</div>
        <br>
        <div id="recommended">
            {% for item in list_viewed %}
			<div id="recommended_item">
				<div id="recommended_item_image"><img src={{item.photo}} height="100"></div>
				<div id="recommended_item_text">
					<div id="recommended_name">{{item.name}}</div>
					<div id="recommended_price"><b>{{item.price}}</b></div>
					<div id="recommended_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" onclick="add_to_cart({{item.id}});"/></div>
				</div>
			</div>
            {% endfor %}
		</div>
        <br>
        <div id="recommended">
            {% for item in list_put %}
			<div id="recommended_item">
				<div id="recommended_item_image"><img src={{item.photo}} height="100"></div>
				<div id="recommended_item_text">
					<div id="recommended_name">{{item.name}}</div>
					<div id="recommended_price"><b>{{item.price}}</b></div>
					<div id="recommended_add_to_cart_button"><input type="button" name="add_to_cart" id="add_to_cart" value="Add to cart" onclick="add_to_cart({{item.id}});"/></div>
				</div>
			</div>
            {% endfor %}
		</div>
{% endblock %}

